@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
:root {
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);
  /*(Background) */
  --LightGrayishCyan: hsl(180, 52%, 96%);
  /*(Filter Tablets)*/
  --LightGrayishCyan1: hsl(180, 31%, 95%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}
.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--LightGrayishCyan);
}
img {
  max-width: 100%;
}
/*header  */
header {
  width: 100%;
  background-color: var(--DesaturatedDarkCyan);
  height: 165px;
  position: relative;
}
header img {
  width: 100%;
  height: 165px;
  object-fit: cover;
}
/* header filter */
.filter-bar {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 7px;
}
.filter-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}
.filter-bar ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: var(--DesaturatedDarkCyan);
  background-color: var(--LightGrayishCyan1);
  border-radius: 5px;
}
li .delete-btn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--DarkGrayishCyan);
  /* padding: 5px; */
}
li .delete-btn img {
  width: 10px;
  height: 10px;
}
.jobs-container-div {
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 2rem;
}
/* clear button*/
.clear-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--DarkGrayishCyan);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.clear-btn:hover {
  color: var(--DesaturatedDarkCyan);
  text-decoration: underline;
}
/* job rows*/
.job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 7px;
  margin-top: 2rem;
  max-height: 150px;
  box-shadow: 0px 5px 15px -10px var(--DarkGrayishCyan);
}
.job.featured-job {
  border-left: 5px solid var(--DesaturatedDarkCyan);
}
/* job logo and job detail/ 
left section of job row*/
.job .left {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 80px;
  max-width: 50%;
}
.job-logo {
  min-width: 80px;
  width: 80px;
  height: 80px;
}
.job-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.job-info-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* JOB ROW company info */
.company-info {
  display: flex;
  align-items: center;
}
/* company name*/
.company-name {
  font-size: 18px;
  margin-right: 0.8rem;
  color: var(--DesaturatedDarkCyan);
  font-weight: 700;
}
.new,
.featured {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  padding: 7px;
  padding-bottom: 5px;
  background-color: var(--DesaturatedDarkCyan);
  border-radius: 10px;
  margin-right: 10px;
}
.featured {
  background-color: var(--VeryDarkGrayishCyan);
}
/* JOB position*/
.position {
  color: var(--VeryDarkGrayishCyan);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.position:hover {
  color: var(--DesaturatedDarkCyan);
}
/* JOB detail(location/posted-at/contract*/
.details {
  display: flex;
  align-items: center;
  color: var(--DarkGrayishCyan);
  font-weight: 500;
}
.details .separator {
  margin: 0 0.8rem;
}
/* Job row - skills,languages,tools */
.skills-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 50%;
}
.job-specs {
  font-size: 16px;
  font-weight: 700;
  padding: 7px;
  color: var(--DesaturatedDarkCyan);
  background-color: var(--LightGrayishCyan1);
  border-radius: 5px;
  cursor: pointer;
}
